@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 1%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 0 0% 3%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 0% 65.1%;
    --accent: 0 0% 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 212.7 26.8% 83.9%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.sidebar::-webkit-scrollbar {
  width: 8px; 
  height: 2px; 
}

.sidebar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #292929; 
  border-radius: 10px;
  height: 10px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}

.content::-webkit-scrollbar {
  width: 8px; 
  height: 2px; 
}

.content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content::-webkit-scrollbar-thumb {
  background-color: #292929; 
  border-radius: 10px;
  height: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}



.codes::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

.codes::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.codes::-webkit-scrollbar-thumb {
  background-color: #292929; 
  border-radius: 10px;
  height: 10px;
}

.codes::-webkit-scrollbar-thumb:hover {
  background-color: #222222;
}